{% extends "rpgmaster/templates/base.html" %}
{% load static %}
{% load i18n %}
{% block body %}

<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1>{% translate "title" context request.resolver_match.app_name %}</h1>
</div>
<div class="row">
    <div class="col">
    	<div class="pb-3 mb-3 border-bottom">
    		<b>{% trans "mygroups" %} <span link='{% url "new_group" %}' name='{% trans "new_group"|title %}' class="dialog ibtn" data-feather="plus-circle"></span></b>
    		{% if mygroups %}
	    		<ul>
		    		{% for group in mygroups %}
		    			<li>{{ group.NAME }}  <span link='{% url "cartemaker:new_map" group_id=group.pk %}' name='{% trans "new_map"|title %}' class="dialog ibtn" data-feather="plus-circle"></span></li>
		    			<ul>
		        			<li>Carte 1</li>
		        		</ul>
		    		{% endfor %}
	    		</ul>
    		{% endif %}
        	
        	{% if ingroups %}
	        	<b>{% trans "in_groups" %}</b>
	        	<ul>
		        	{% for group in ingroups %}
			        	<li>Groupe 2</li>
		        		<ul>
		        			<li>Carte 2</li>
		        		</ul>
		        	{% endfor %}
	        	</ul>
        	{% endif %}
        </div>
        <div class="pb-3 mb-3 border-bottom">
        	Nouvelle Carte dans le groupe
        </div>
        <div>
            
        </div>
    </div>
    <div class="col">
        <a href='{% static "imgs/exemple_carte.png" %}' target="_blank"><img src='{% static "imgs/exemple_small_carte.png" %}' ></a>
    </div>
</div>
{% endblock %}
